<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Handle Trailing Slashes
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !index.html
  RewriteRule ^(.*)/$ $1.html [L]
  
  # Redirect 404 to index.html for Client Side Routing
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
